*{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url("back.jpg");
    background-size: cover;
    height: 900px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    
}
body{
    overflow: hidden;
}
.err{
    color: red;
}